{% extends "objednavky/base.html" %}
{% block user_name %}
{{ user.username }}
{% endblock %}
{% block content %}
<style>

    button {
        box-sizing : content-box;
        padding: 0px;
        height: 11vh;
        width: 11vw;
        vertical-align: middle;
        text-align: center;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.13);
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        background-color: #ffffff;
        color: white;
        cursor: pointer;
    }
    .PPs-T120 {
        background-color: rgba(170, 74, 68);
    }

    .PPs-AL-T120 {
        background-color: rgba(154, 30, 27);
    }

    .AL-T200 {
        background-color: darkblue;
    }

    .AL-A-T200 {
        background-color: blue;
    }

    .AL-AL-T300 {
        background-color: rgb(93, 174, 255);
    }

    .INOX-SRS {
        background-color: lightgray;
    }

    .INOX-AGS {
        background-color: darkgray;
    }

    .INOX-ERS-EAD {
        background-color: gray;
    }

    .PPs-INOX {
        background-color: rgb(79, 79, 79);
    }

    .VP {
        color: black;
    }
    
</style>

<div class="row mt-3">
    <div class="col">
        <a href="{% url 'product' 'PPs-T120' %}">
            <button class="PPs-T120">PPs T120</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'PPs-AL-T120' %}">
            <button class="PPs-AL-T120">PPs/AL T120</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'AL-T200' %}">
            <button class="AL-T200">AL T200</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'AL-A-T200' %}">
            <button class="AL-A-T200">AL/AL T200</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'AL-AL-T300' %}">
            <button class="AL-AL-T300">AL AL/AL T300</button>
        </a>
    </div>
</div>

<div class="row mt-3 mb-3">
    <div class="col">
        <a href="{% url 'product' 'INOX-SRS' %}">
            <button class="INOX-SRS">INOX SRS</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'INOX-AGS' %}">
            <button class="INOX-AGS">INOX AGS</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'INOX-ERS-EAD' %}">
            <button class="INOX-ERS-EAD">INOX ERS/EAD</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'PPs-INOX' %}">
            <button class="PPs-INOX">PPs/INOX</button>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'product' 'VP' %}">
            <button class="VP">Všetky produkty </button>
        </a>
    </div>
</div>

{% endblock %}
